.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.list {
  display: flex;
  align-items: center;
}
.item {
  $size: 40px;
  width: $size;
  height: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  border-radius: 4px;
  color: var(--color-white);
  cursor: pointer;
  background-color: var(--color-grey-light);
  &:hover {
    background-color: var(--color-primary);
  }
  &.active {
    background-color: var(--color-primary);
  }
  &.disabled {
    cursor: not-allowed;
    background-color: rgba(174, 174, 174, 0.7);
    &:hover {
      background-color: rgba(174, 174, 174, 0.7);
    }
  }
}
