.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  margin-bottom: 20px;
}
.icon-check {
  font-size: 10rem;
  color: var(--warning-color);
}
.btn-verify {
  margin-top: 10px;
  padding: 15px 40px;
}
.note {
  margin-top: 25px;
}
