@import './font';

:root {
  --color-white: #ffffff;
  --color-error: #ea2027;
  --color-primary: #00a8ff;

  --bg-main: rgb(244, 241, 241);

  //height
  --height-header: 60px;
  --width-sidebar: 200px;

  --z-index-header: 10;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background-color: var(--bg-main);
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button,
input,
[tabindex] {
  outline: none;
  border: none;
}

.container {
  // max-width: 1320px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 0 20px;
}
