@import './font';

:root {
  --color-white: #ffffff;
  --color-error: #ea2027;

  --bg-main: rgb(58, 57, 57);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background-color: var(--bg-main);
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button,
input,
[tabindex] {
  outline: none;
  border: none;
}

.container {
  // max-width: 1320px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 0 20px;
}
