@import './font';
// @import './custom-prism-style';
:root {
  --color-white: #ffffff;
  --color-error: #ea2027;
  --color-success: #19ce65;
  --color-primary: #00a8ff;
  --color-primary-bold: #0081c1;
  --color-warning: #f1c40f;
  --color-grey-bold: rgb(97, 97, 97);
  --color-grey-light: rgb(198, 198, 198);

  --color-text: #03486b;

  --bg-main: rgb(244, 241, 241);

  //height
  --height-header: 60px;
  --width-sidebar: 96px;
  --width-sidebar-close: 60px;

  --z-index-header: 10;

  // Font size
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-xl: 20px;
  --font-2xl: 24px;
  --font-3xl: 32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--height-header) + 20px);
}
body {
  font-size: 1.6rem;
  background-color: var(--bg-main);
  color: var(--color-text);
  line-height: 1.3;
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--bg-main);
  }
  &::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    background-color: var(--bg-main);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--color-primary);
  }
}
ul li {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
button,
input,
[tabindex] {
  outline: none;
  border: none;
}

.container {
  // max-width: 1320px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 0 20px;
}
// Custom css in react markdown editor

.wmde-markdown h2 {
  border: none !important;
}
.w-md-editor-text {
  // Remove padding in editor

  code[class*='language-'],
  pre[class*='language-'] {
    line-height: auto !important;
  }
  .wmde-markdown-color {
    pre[class*='language-'] {
      padding: 0 !important;
      margin: 0 !important;
    }
    :not(pre) > code[class*='language-'] {
      padding: 0 !important;
    }
  }
}
.wmde-markdown {
  color: inherit !important;
}

.md-editor-preview {
  min-height: 100px;
  background: transparent !important;
  span.code-line {
    color: var(--color-white);
  }
}

// Custom sweet alert
.swal2-container {
  font-size: 1.6rem;
  .swal2-popup {
    font-size: 1.6rem;
  }
}

.swal2-loader {
  $size: 6em;
  width: $size !important;
  height: $size !important;
}
.swal2 {
  &-icon-content {
    width: 100% !important;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-icon-sad {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 150%;
    border-radius: 50%;
    background: var(--color-white) url('../../assets/icons/frog-sad.gif') center;
    background-size: cover;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
