.wrapper {
  margin-top: calc(var(--height-header) + 10px);
  padding-bottom: 50px;
  &.close-sidebar {
    --width-sidebar: var(--width-sidebar-close);
  }
}
.inner {
  display: flex;
}
.main {
  flex: 1;
  margin-left: var(--width-sidebar);
  padding: 0 10px;
  transition: margin-left 0.5s, padding 0.5s;
}
