.wrapper {
}
.header {
  display: flex;
}
.heading {
  font-size: 35px;
  position: relative;
  .line-bottom {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 4.5px;
  }
}
