.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  margin-bottom: 10px;
}
.description {
  font-size: 1.4rem;
  color: var(--grey-bold-color);
}
.form {
  width: 100%;
  margin-top: 20px;
}
.btn-send {
  margin: 0 auto;
  margin-top: 30px;
  padding: 15px 40px;
}
.note {
  margin-top: 25px;
}
